html{font-size: 22px}
body{
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: hsl(0, 0%, 20%);
    color: whitesmoke;
 }
a {color: aliceblue;}
a:visited{color:lightgray;}
a:hover, a:active{color:#eee;}

table, tr, td, caption {
    border:1px solid #eee;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

caption:hover, tr:hover, td:hover{
    background-color: hsl(0, 0%, 30%);
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #232323;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}