html{font-size: 22px}
body{
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    background-color: hsl(0, 0%, 20%);
    color: whitesmoke;
 }
a {color: aliceblue;}
a:visited{color:lightgray;}
a:hover, a:active{color:#eee;}

table, tr, td, caption {
    border:1px solid #eee;
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
.nav{
    list-style-type: none;
}

caption:hover, tr:hover, td:hover{
    background-color: hsl(0, 0%, 30%);
}